@import url('https://fonts.googleapis.com/css2?family=Bilbo+Swash+Caps&display=swap');

:root {
  --links-color: #00AA66;
  --secondary-color: #8ae0ff;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

nav {
  display: block;
  align-items: center;
  text-align: center;
  border-bottom: 2px solid var(--links-color);
  white-space: nowrap;
}

.container {
  padding: 1.5em 1em;
}

.main {
  min-height: 100vh;
  max-width: fit-content;
  padding: 100px 1em;
  justify-content: center;
  align-items: center;
}

.nav-menu {
  position: relative;
  display: inline-block;
  font-weight: 555;
  margin: 1em 0em 0em 1em;
}

.sub-menu {
  left: -111%;
  top: 103%;
  position: absolute;
  display: none;
}

.nav-menu:hover .sub-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: black;
}

.nav-menu a:hover,
.sub-menu a:hover {
  border-radius: 1em 1em;
  /* background-color: var(--secondary-color); */
  color: var(--links-color);
}

.logo {
  justify-content: center;
}

.title {
  margin: 0;
  font-size: 3.3em;
  font-family: 'Bilbo Swash Caps', cursive;
  color: var(--links-color)
}

.title a {
  color: var(--links-color);
  text-decoration: none;
}

.title a:hover,
.title a:focus,
.title a:active {
  text-decoration: underline;
}

.title,
.greeting {
  text-align: center;
}

.greeting {
  margin: 3.3em 0;
  line-height: 1.3;
  font-size: 1.2em;
}

.grid {
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  align-items: center;
  justify-items: center;
  justify-content: center;
  justify-content: space-evenly;
}

.image {
  padding: 1em;
  margin-right: 2em;
}

.cards {
  font-size: 0.9em;
  padding: 1em;
  text-align: left;
  border: 1px solid #eaeaea;
  border-radius: 10px;
}

.parag {
  font-size: 0.8em;
  margin: 3em 2em 3em 2em;
  padding: 1.5em;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  max-width: 44em;
}

.parag h2 {
  margin: 0 0 1em 0;
  font-size: 1.5em;
}

.parag p {
  margin: 0;
  font-size: 0.9em;
  line-height: 1.5;
  white-space: pre-wrap;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    /* flex-direction: column; */
    grid-template-columns: 1fr;
    padding: 1em;
    grid-row-gap: 100px;
  }
}

.footer {
  display: flex;
  flex-direction: column;
  padding: 2em 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}

.footer a {
  display: flex;
  flex-grow: 1;
  justify-self: center;
  align-self: center;
}

.code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75em;
  font-size: 1.1em;
  font-family: Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono,
    Bitstream Vera Sans Mono, Courier New, monospace;
}